{% include header.html %}
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
          <span class="dot"></span>
          <div class="dots">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <!-- ***** Preloader End ***** -->
    

    {% include navigation.html %}

    {{ content }}
    {% include footer.html %}

    
  <!-- Scripts -->
  <script src="{{ site.baseurl }}/vendor/jquery/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/owl-carousel.js"></script>
  <script src="{{ site.baseurl }}/assets/js/animation.js"></script>
  <script src="{{ site.baseurl }}/assets/js/imagesloaded.js"></script>
  <script src="{{ site.baseurl }}/assets/js/custom.js"></script>

</body>
</html>